In [1]:
from dataclasses import dataclass

In [4]:
@dataclass
class employee:
    emp_n:str
    age:int

In [6]:
emp_n,age='ram',34

In [7]:
empl_n

NameError: name 'empl_n' is not defined

In [8]:
emp_n

'ram'

In [9]:
emp=employee(emp_n="rahul",age=45)

In [10]:
emp

employee(emp_n='rahul', age=45)

In [11]:
emp.emp_n

'rahul'

In [18]:
class emplo:
    def __init__(self,emp_na,age):
        self.emp_na=emp_na
        self.age=age

In [19]:
emp1=emplo(emp_na="tym",age=23)

In [20]:
emp1

In [21]:
emp1.emp_na

'tym'